{block content}

<div class="sidebar-top">
    <div id="heading-div">
        <span class="header-log">Účet</span>
    </div>
</div>

<div>
    <a n:href="out" class="ajax" onclick="logOut()">
        <button type="button" class="btn btn-primary mojeButton logout">Odhásit se</button>
    </a>
</div>
