application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 1 year

services:
	router: App\RouterFactory::createRouter
	authenticator: App\Auth
	- App\UserFactory

extensions:
    console: Kdyby\Console\DI\ConsoleExtension
    events: Kdyby\Events\DI\EventsExtension
    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    facebook: Contributte\Facebook\DI\Nette\FacebookExtension

doctrine:
    resultCache: default
    cache: default
    metadata:
        App: %appDir%
